@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Manrope:wght@200;300;400;500;600;700;800&family=Outfit:wght@100&display=swap');

:root {
    --primary-color:#37507E;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
  }

*{
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    color: var(--primary-color);
}
a{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 500;
}
.container{
    padding: 2rem;
}

.title-project{
    text-align: center;
    padding: 1rem;
}

.header-page{
    display: flex;
    align-items: center;
}
#icon-back{
    color: var(--primary-color);
}
#icon-back:hover{
    color: var(--secondary-color);
    cursor: pointer;
}
/* css callout */

  .alert.alert-callout {
    position: relative;
    padding: 0.75rem 1.25rem 0.75rem 3.25rem;
    border-width: 1px;
    border-style: solid;
  }
  .alert.alert-callout:before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2rem;
    font-family: "FontAwesome";
    line-height: 3;
    text-align: center;
  }
  
  .alert-callout.alert-info {
    border-color: #0c5460;
    border-radius: 4px;
  }
  .alert-callout.alert-info:before {
    background: #0c5460;
    color: #d1ecf1;
    content: "\f129";
  }

  .list-question{
    padding: 2rem;
  }
  
  



