@import url("../../css/index.css");
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inter:wght@100;200;300;400;500;700;800;900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sulphur+Point:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    padding: 0px;
    height: 100vh;
}

/* CSS Header */
.header{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 60px;
 
    
} 

.note2{
    display: none;
}
.note1 h1{
    color: #333333;
    font-weight: 450;
    font-size: 80px;
    line-height: 104px;
}
.note1 p{
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    color: #333333;
}
.note2 h1{
    color: #333333;
    font-weight: 450;
    font-size: 24px;
    line-height: 32.28px;
    text-align: center;
}
.note2 p{
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #333333;
    text-align: center;

}

/* CSS MODE */
.perfomanceMode{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    width: 73px;
    height: 26px;
    background:#F9F9F9;
    border-radius: 16px;
    
}

#iconMoon {
    color: #DEDEDE;;
}

i{
    color: #231F20;
}

/* CSS Calculator */
#error{
    margin-top: 20px;
    text-align: center;
    color: red;
    display: none;
}
.calculator{
    background: #2A2D37;
    border-radius: 12px;
    position: relative;
    width: 272px;
    height: 445px;
}
.calculator input{
    width: 100%;
    height: 100%;
    background: #5D6063;
    border-radius: 4px;
    color: white;
    text-align: right;
    padding: 20px;
   
}

::placeholder{
    color: white;
}


.groupBtn table{

    margin:16px ;
    width: 240px;
    height: 303px;
    text-align: center;
   

}
.groupBtn td{
    margin:12px ;
    padding: 2px;
}

.groupBtn button{
    background: #CECECC;
    box-shadow: 2px 1px 4px #000000;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.25px;
    width: 51px;
    height: 51px;
    border-radius: 5px;
}
.groupBtn .btnO {
    background: #F29E3C;
    color: white;
    
    
}

.groupBtn .btnE {
    background: #F29E3C;
    color: white;
    height: 114px;;
}

.groupBtn .btn0 {
    width: 114px;
    

}

.result{
    background: #5D6063;
    border-radius: 4px;
    height: 48px;
    width: 240px;
    margin: 16px;
    margin-top: 14px;
}

.name-calculator p{
    color: white;
    margin: 16px;
    font-family: 'Sulphur Point', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

/* Responsive */

@media only screen and (max-width:390px ) {
    .container{
        display: flex;
        flex-direction:column;
        height: 100vh;
        padding: 0px;
        gap: 50px;
    }
    .main-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 32px;
        /* width: 338px;
        height: 400px; */
        margin: 20px;
    }
    .note1{
        display: none;
    }
    .note2{
        display: block;
    }

    .header{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: flex-start;
        padding:0px 156px;
        height: 0px;
        
    }

    .perfomanceMode{
        left: 50px;
    }
    
    
}
